.wrapper {
  height: 100vh;
  padding: 0 5em;
  display: flex;
}
.wrapper .form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 3em;
}
.wrapper .content {
  flex: 1;
  padding: 2em 0;
}
.ant-list-item:first-of-type {
  padding-top: 0;
}
.ant-list-item:last-of-type {
  padding-bottom: 0;
}
